<!-- remote: true, :url => {:action => :add_helper}, "data-type" => :json, -->
<center>
	<p><p> 
<div id="top_message"><b>Login Page</b></h5></div>
<p>
<%= form_for(:user, :html => {:id => "Login_Form"}) do |f| %>
  <%= f.label :username %>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= f.text_field :user %><br />

  <%= f.label :password %>: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= f.password_field :password %><br />

  <p><p>

  <%= submit_tag "Login", :type => 'button', id: "login_button" %> 
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= submit_tag "New User", :type => 'button', id: "add_button" %>
<% end %>

<%= submit_tag "Logout", :type => 'button', id: "logout_button" %>
<center>